/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    /* --hue-color: 5; Purple 250 - Green 142 - Blue 230 - Pink 340 */

    /* HSL color mode */
    --first-color: #B98CF2;
    --second-color: #d4d4d4;
    --title-text-color: rgb(255,255,255,100%);
    --text-color: rgb(0, 0, 0);


    /*========== Font and typography ==========*/
    --text-font: 'Roboto', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-ligth: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;
    --font-black: 900;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*==================== BASE ====================*/
/* (reiniciar el html y dar formato base a todo)*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: var(--text-font);

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


textarea{
    -webkit-appearance:none;
    border-radius: 10px;
    border: .5px solid black;
    padding: 8px;
    
}

/*==================== REUSABLE CSS CLASSES ====================*/
.titulo{
    color: var(--title-text-color);
    font-weight: var(--font-medium);
    background-color: var(--first-color);
    padding: .3rem .5rem;
    font-weight: var(--font-regular);
    font-size: 24px;
    border-radius: 10px 10px 0 0;
    border-bottom: solid .5px black;
}

.LRInput{
    -webkit-appearance:none;
    border-radius: 10px;
    border: .5px solid black;
    height: 3rem;
}

.input::placeholder{
    font-family: var(--text-font);
}

/*==================== LAYOUT ====================*/
/* (Definir el diseño de la plantilla con contenedores y grid) */
.grid{
    display: grid;
    gap: 1.5rem;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
    gap: 1rem;
}

/*==================== HEADER ====================*/
.LRHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: var(--text-font);
    color: var(--first-color);
    font-weight: var(--font-bold);
    font-size: 34px;
}

.LRLogo{
    width: 250px;
    height: auto;
    margin: 1rem;
}

/*==================== FORMULARIO ====================*/
.LRFormulario form{
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    font-family: var(--text-font);
    font-weight: var(--font-bold);
    font-size: 24px;
}

.LRBtn{
    border-radius: 10px;
    border: solid .5px  black;
    width: 50%;
    background-color: var(--first-color);
    color: white;
    font-family: var(--text-font);
    font-size: 1.5rem;
    cursor: pointer;
    align-self: center;
    height: 3rem;

}

/*==================== FORMULARIO ====================*/
.LROpciones{
    margin-top: 4rem;
    flex-direction: column;
    width: 50%;
    margin: 5rem auto 0 auto;
    align-items: center;
    color: var(--first-color);
    font-family: var(--text-font);
    font-weight: var(--font-bold);
    font-size: 30px;
}


/*==================== FOOTER ====================*/
.LRFooter{
    position: fixed;
    bottom: 0;
    background-color: white;
    border-radius: 30px 30px 0 0;
    width: 100%;
}

.LRContenidoFooter{
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.LRContenidoFooter img{
    width: 90px;
    height: auto;
}