/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    /* --hue-color: 5; Purple 250 - Green 142 - Blue 230 - Pink 340 */

    /* HSL color mode */
    --first-color: #B98CF2;
    --second-color: #d4d4d4;
    --title-text-color: rgb(255,255,255,100%);
    --text-color: rgb(0, 0, 0);


    /*========== Font and typography ==========*/
    --text-font: 'Roboto', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-ligth: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;
    --font-black: 900;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*==================== BASE ====================*/
/* (reiniciar el html y dar formato base a todo)*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: var(--text-font);
    background-color: var(--second-color);

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


textarea{
    -webkit-appearance:none;
    border-radius: 10px;
    border: .5px solid black;
    padding: 8px;
    
}

/*==================== REUSABLE CSS CLASSES ====================*/
.Rtitulo{
    color: var(--title-text-color);
    font-weight: var(--font-medium);
    background-color: var(--first-color);
    padding: .3rem .5rem;
    font-weight: var(--font-regular);
    font-size: 24px;
    border-radius: 10px 10px 0 0;
    border-bottom: solid .5px black;
}

.Rinput{
    -webkit-appearance:none;
    border-radius: 10px;
    border: .5px solid black;
    padding: 8px;
}

.Rinput::placeholder{
    font-family: var(--text-font);
}

/*==================== LAYOUT ====================*/
/* (Definir el diseño de la plantilla con contenedores y grid) */
.grid{
    display: grid;
    gap: 1.5rem;
}

.container{
    width: 70%;
    margin: auto;
}

.flex{
    display: flex;
    gap: 1rem;
}

/*==================== HEADER ====================*/
.header{
    justify-content: space-between;
    padding: .5rem 5rem 0 10rem;
    align-items: center;
    background-color: white;
    border-radius: 0 0 30px 30px;
    margin-bottom: 2rem;
}
.logo h1{
    font-size: 44px;
}
.logo{
    align-items: center;
    gap: 2rem;
}
.logo img{
    width:140px;
    height: auto;
}
.usuario h2{
    font-size: 36px;
    font-weight: var(--font-regular);
    align-self: center;
}

.usuario button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 13rem;
}

/*==================== CARDS ====================*/
.Gmain{
    position: relative;
}
.cards{
    max-height: 41.4em;
    overflow-y: auto ;
}

.card{  
    border-radius: 10px;
    border: solid 1px  black;
    box-shadow: 5px 5px 15px rgb(95, 95, 95);
    margin: 1rem 0;
}

.cardBody{
    grid-template-columns: repeat(3, 1fr);
    font-family: var(--text-font);
    font-size: 24px;
    font-weight: var(--font-regular);
    background-color: white;
    padding: 1rem;
    border-radius:0 0 10px 10px; 
}

.cardBody p{
    margin-bottom: 10px;
}

.Gbtn{
    border-radius: 10px;
    border: solid .5px  black;
    padding: 5px;
    background-color: var(--first-color);
    color: white;
    font-family: var(--text-font);
    font-size: 1.5rem;
    cursor: pointer;
    width: 55%;
}
/*==================== INFORMACIÓN ====================*/
.Ginformacion{
    background-color: white;
    position: absolute;
    width: 70%;
    height: 70%;
    top: 20%;

}
.Gimagen{
    width: 60%;
    height: 60%;
    background-color: var(--second-color);
    margin: 10px auto;
}
.Ginfo{
    grid-template-columns: repeat(2, 1fr);
    font-family:var(--text-font);
    font-size: 36px;
    font-weight: var(--font-regular);
    align-items: center;
    justify-items: center;
}

.Ginfo .Gbtn{
    margin-top: 30px;
    width: 100%;
}

.descripcion{
    margin-top: 30px;
    border: .5 solid black;
}

/*==================== FOOTER ====================*/
.Gfooter{
    position: absolute;
    bottom: 0;
    background-color: white;
    border-radius: 30px 30px 0 0;
    width: 100%;
}

.Gcontenidofooter{
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.Gcontenidofooter img{
    width: 90px;
    height: auto;
}